div.um-panel label {
    display: inline-block;
    width: 130px;
}

div.um-panel select {
    width: 160px;
}

div.um-panel span.um-error {
    color: #f00;
}

div.um-panel div.um-user-manager {
    float: left;
}

div.um-panel div.um-search-result {
    float: left;
    margin-left: 20px;
    width: 400px;
    height: 400px;
    overflow: scroll;
    border: 1px solid red;
}