div.um-panel label {
    display: inline-block;
    width: 130px;
}

div.um-panel select {
    width: 275px;
    border: 1px solid rgb(146, 192, 224);
}

div.um-panel input[type="text"] {
    width: 275px;
}

div.um-panel span.um-error {
    color: #f00;
}

div.um-panel div.um-user-manager {
    float: left;
}

div.um-panel div.um-search-result {
    float: right;
    margin-left: 20px;
    width: 400px;
    height: 400px;
    overflow: scroll;
}

span.um-error {
    font-weight: bold;
    color: red;
}

a.um-user-item {
    display: block;
    text-decoration: none;
}

    a.um-user-item span {
        display: inline-block;
        padding: 2px;
    }

        a.um-user-item span.um-col-name {
            font-weight: bold;
        }

div.um-sitegroups {
    width: 400px;
    height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
}

    div.um-sitegroups label {
        white-space: nowrap;
    }

div.um-notif {
    position: absolute;
}
div.um-message {
    padding: 20px;
    border: 1px solid #444;
    color: #fff;
    background-color: #999;
}
